.active__player__card {
  position: absolute;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  background: #ffff;
}

.current__player__container {
  width: 100%;
  height: 25px;
  background-color: black;
  align-items: center;
}

.current__player {
  margin: 0;
  color: #ffff;
}

.active__player__card__info {
  flex: 1;
}

.active__player__name {
  margin: 5px 0px;
}

.active__player__double__out {
  margin: 5px 0px;
}

.active__player__score {
  color: red;
  margin: 5px 0px;
  font-size: 50px;
}

.active__player__darts {
  font-size: 30px;
  margin: 5px 0px;
}
