.input__add__on {
  margin: 5px 0 5px 0;
}

.input__add__on__icon {
  margin: 5px;
  font-size: 15px;
}

input {
  outline: none;
  border-bottom: 2px solid black;
  border-left: none;
  border-right: none;
  border-top: none;
}

.fa-exclamation-triangle {
  margin-top: 10px;
  font-size: 40px;
  color: red;
}

.btn__modal {
  height: 50px;
  width: 20%;
  margin: 5px;
  align-self: center;
  background: black;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border-radius: 50px;
  cursor: pointer;
}

.btn__modal:focus {
  outline: none;
}
