.dartboard {
  text-align: right;
  margin: 5px 2px;
}

.fa-medal {
  margin-top: 10px;
  font-size: 40px;
  color: gold;
}

button {
  background: black;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border-radius: 50px;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:hover {
  background: red;
}

.btn__group {
  display: flex;
  justify-content: space-evenly;
  height: 50px;
  margin: 5px;
  padding: 5px;
}
