.main__container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main__content {
  display: flex;
  height: 100vh;
}

.navbar {
  height: 50px;
  background-color: black;
}

.sidebar {
  overflow-y: auto;
  width: 300px;
  text-align: center;
}

.dartboard__container {
  flex: 1;
  overflow: hidden;
  background: url("./../assets/dartbg.jpg") center no-repeat;
  background-size: cover;
  text-align: center;
}

.btn__game__start {
  position: absolute;
  top: 50%;
  height: 50px;
  background: black;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border-radius: 50px;
  cursor: pointer;
}

.modal__btn {
  padding: 10px;
}

.btn__display__none {
  display: none;
}

.btn__game__start:focus {
  outline: 0;
}
