.buttton__missed {
  position: absolute;
  top: 50px;
  height: 30px;
  align-self: center;
  background: black;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border-radius: 50px;
  cursor: pointer;
}

.buttton__missed:focus {
  outline: 0;
}

.buttton__missed:hover {
  background: red;
}
