.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.modal__bg {
  width: 100%;
  height: 50px;
  object-fit: cover;
}

.modal-main {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: white;
  width: 35%;
  max-height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
