.header-container {
  display: flex;
  justify-content: space-between;
  color: white;
  background: black;
  height: 50px;
  align-items: center;
}

.nav__icon {
  font-size: 14px;
  margin-right: 4px;
}

.logo {
  margin-left: 5%;
}

.logo img {
  display: block;
}

.players__count {
  position: absolute;
  top: 5px;
  right: 0;
  margin-right: 25px;
  border-radius: 50%;
  background: red;
  color: #ffff;
  width: 20px;
  text-align: center;
  font-weight: bold;
  padding: 1px;
}

.round__count {
  position: absolute;
  top: 5px;
  right: 25px;
  border-radius: 50%;
  background: red;
  color: #ffff;
  width: 20px;
  text-align: center;
  font-weight: bold;
  padding: 1px;
  height: 20px;
}

nav {
  margin-right: 30px;
}

header ul li {
  display: inline-block;
  padding: 0px 25px 0px 25px;
  font-size: 0.9em;
  cursor: pointer;
}

header ul li {
  text-decoration: none;
  color: #ffff;
}

li:hover {
  color: #b6b6b6;
}
