.player__info__container {
  display: flex;
  flex-wrap: nowrap;
  border: 1px solid #000000;
  width: 200px;
  margin: 10px auto;
  max-height: 200vh;
  justify-content: center;
}

.player__score {
  color: red;
}

.player__card__info {
  word-break: break-all;
  width: 100%;
}

.player__delete {
  background: #000000;
  width: 100%;
  padding: 5px 0px;
}

.fa-trash-alt {
  cursor: pointer;
  margin: 2px 2px;
  color: #fff;
}

.fa-trash-alt:hover {
  color: red;
}

h1 {
  margin: 0;
}
