.ranking__window {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  background-color: #fff;
  bottom: 30px;
  left: 310px;
}

h2 {
  margin: 0;
}

.ranking__info {
  display: flex;
  flex: 2;
  height: 100%;
}

.ranking__trophy {
  display: flex;
  flex: 1 1;
  margin-top: 20px;
  flex-direction: column;
}

.ranking__names {
  flex: 2 1;
  display: flex;
  margin-top: 20px;
  text-align: left;
  flex-direction: column;
}

.current__rank {
  width: 100%;
  height: 25px;
  background-color: black;
  align-items: center;
}

.current__rank {
  margin: 0;
  color: #ffff;
}

#trophy__gold {
  color: gold;
}

#trophy__silver {
  color: silver;
}

#trophy__bronze {
  color: #cd7f32;
}
