.modal__rules__content {
  overflow-y: scroll;
  padding: 10px;
}

.modal__rules__content h3 {
  color: red;
}

.fa-times-circle {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 30px;
  margin: 20px;
  cursor: pointer;
}

.fa-times-circle:hover {
  color: red;
}
