.s1:hover,
.s4:hover,
.s5:hover,
.s6:hover,
.s9:hover,
.s11:hover,
.s15:hover,
.s16:hover,
.s17:hover,
.s19:hover {
  opacity: 0.4;
}

.s2:hover,
.s3:hover,
.s7:hover,
.s8:hover,
.s10:hover,
.s12:hover,
.s13:hover,
.s14:hover,
.s18:hover,
.s20:hover {
  fill: rgba(172, 172, 172, 0.4);
}
