.soundBtn {
  position: absolute;
  top: 90px;
  right: 520px;
  height: 30px;
  align-self: center;
  background: black;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border-radius: 50px;
  cursor: pointer;
}

.soundBtn:focus {
  outline: 0;
}

.soundBtn:hover {
  background: red;
}

.soundBtn__off {
  position: absolute;
  top: 90px;
  right: 520px;
  height: 30px;
  align-self: center;
  background: red;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border-radius: 50px;
  cursor: pointer;
}

.soundBtn__off:focus {
  outline: 0;
}

.soundBtn__off:hover {
  background: black;
}
